<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %date{ISO8601} [%thread] %level: %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="com.seanroshan" additivity="false" level="debug">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

    <appender name="socket" class="com.seanroshan.ecommerce.splunk.TcpAppender">
        <RemoteHost>127.0.0.1</RemoteHost>
        <Port>8001</Port>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date{ISO8601} [%thread] %level: %msg%n</pattern>
        </layout>
    </appender>

    <logger name="splunk.logger" additivity="false" level="INFO">
        <appender-ref ref="socket"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="socket"/>
    </root>

</configuration>
